@charset "utf-8";
/* CSS Document */
.aboutme
{
	margin:0 auto;
	width:90%;
	height:500px;
	text-align:center;
}

.aboutme a
{
	font-size:36px;
	text-decoration:none;
	color:rgb(0,0,0);
}

.aboutme div
{
	padding:10%;
	animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
