
.App{
	text-shadow: 1px 1px 1px #000;
	font-size:24px;
	background-color:rgba(255,255,255,0.5);
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  opacity:0.5;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding-left: 250px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
