
.App{
	background-color:rgb(255,255,255);
	height:100px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  opacity:0.5;
}

.nav_content
{
	margin:0 auto;
	width:78%;
}

.link
{
	font-size:18px;
	margin-top:25px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding-left: 250px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media only screen and (max-width: 768px) {
	.link
	{
		font-size:15px;
		margin-top:0px;
	}
	.App
	{
		height:50px;
	}
	li
	{
		float:left;
	}
}