@charset "utf-8";
/* CSS Document */
/*盒子*/
.box
{
	margin:0 auto;
	width:80%;
	text-align:center;
}
/**卡片**/
.card
{
	background-color:rgba(225,252,153,0.1);
	margin-bottom:10px;
	text-align:center;
}

.card:hover
{
	-ms-transform: rotate(5deg); /* IE 9 */
	-webkit-transform: rotate(5deg);
	transform: rotate(5deg);
}

.card a
{
	text-decoration:none;
	color:rgb(51,51,51);
}

.card img
{
	padding:20px;
	padding-top:80px;
	height:320px;
	border-radius:100px 0 100px 0;
}

.card p
{
	font-size:20px;	
	padding:5px;
	padding-left:45px;
	padding-right:45px;
	height:230px;
}

.card_content
{
	background-color:rgb(255,255,255);
	box-shadow:8px 8px 8px rgb(187,187,187);
	border:1px solid rgb(119,119,119);
	margin:%10;
}

.content 
{
	text-align:center;
}

.card_content h1
{
	padding:10px;
}

.control
{
	z-index:-1;
	border:hidden;
	position:fixed;
	opacity:0.4;
}
.control:hover
{
	opacity:0.7;
}

@media only screen and (max-width: 500px) {
    .box{width:87%}
	.card img
	{
		padding-top:20px;
		padding-bottom:0;
		height:140px;
		border-radius:50px 0px 50px 0px;
	}
	.card_content h1
	{
		font-size:12px;
		padding:0;
		margin-bottom:0;
	}
	.card_content h4
	{
		font-size:2px;
		margin-bottom:4px;
		padding:0;
	}
	.card p
	{
		height:65px;
		font-size:5px;
		padding:0;
		padding-left:10px;
		padding-right:10px;
	}
	.card_content
	{
		margin:%1;
	}
	.card
	{
		padding:5px;
		padding-left:5px;
		padding-right:5px;
		margin-bottom:5px;
	}
	.control button
	{
		width:40px;
	}
}