
.App
{
	font-size:24px;
	background-color:rgb(45,45,45);
	border:1px solid rgb(3,3,3);
}
.App-logo 
{
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}
.search_music
{
	position:absolute;
	right:10%;
	padding:5px;
}
.search_music1
{
	cursor:pointer;
	color:rgb(150,150,150);
	padding-left:5px;
}

.search
{
	margin:2px;
	width:100%;
}

.search a
{
	color:rgb(102,102,102);
}

.search>span>input
{
	width:85%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media only screen and (max-width: 768px) {
    .App
	{
		font-size:15px;
		background-color:rgba(0,0,0,0.1);
	}
	.search_music
	{
		position:inherit;
		padding-left:140px;
	}
}